:root {
    --primary-text: #000000;
    --secondary-text: #cfcfcf;
    --filter-text: #00000099;

    --background: #faf9fb;
    --white-background: #fff;
    --footer-background: #e7e2e9;

    --primary-button: #b9ad98;
    --primary-full-button-hover: #c6bba7;
    --primary-full-button-active: #aca497;

    --primary-unfilled-button-hover-background: #f9f9f9;
    --primary-unfilled-button-hover-color: #937d6b;
    --primary-unfilled-button-active-background: #f2f2f2;
    --primary-unfilled-button-active-color: #726654;

    --secondary-button: #f1edf3;
    --secondary-button-hover: #e3d9e2;
    --secondary-button-active: #d6c5d0;
    --danger-button: #CA3521;
    --danger-button-hover: #AE2A19;
    --danger-button-active: #6e2f1a;
    --accent: #5f8c7c;
}

* {
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}

ul {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 12px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888888d6;
    border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555555cf;
}

/* Date picker */
.rdrDayToday .rdrDayNumber span:after {
    background: var(--primary-button) !important;

}

.rdrDayToday:not(.rdrDayPassive) .rdrInRange~.rdrDayNumber span:after,
.rdrDayToday:not(.rdrDayPassive) .rdrStartEdge~.rdrDayNumber span:after,
.rdrDayToday:not(.rdrDayPassive) .rdrEndEdge~.rdrDayNumber span:after,
.rdrDayToday:not(.rdrDayPassive) .rdrSelected~.rdrDayNumber span:after {
    background: var(--background) !important;
}